html {
	box-sizing: border-box;
}
/* *,
*::after,
*::before {
	box-sizing: inherit;
} */
body {
	font-family: "Roboto", "Raleway";
	font-size: 14px;
	line-height: 1.625;
	letter-spacing: 0.02em;
	color: var(--main-color);
}
.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
.flexbox {
	display: flex;
}
/* ШАПКА */
/*Логотип*/
.logo {
	display: inline-flex;
	margin: 0px;
	margin-right: 95px;
	text-decoration: none;
}
.fontweb {
	font-family: "Raleway";
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: #2196f3;
	margin: 0px;
}
.fontstudio {
	font-family: "Raleway";
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	margin: 0px;
	color: #212121;
}
.fontstudio1 {
	font-family: "raleway";
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: #ffffff;
}
/* Навигация сайта*/

.menu-item:not(:last-child) {
	margin-right: 50px;
}

.navigation .menu-list {
	display: flex;
	align-items: center;
}
.list {
	list-style: none;
	margin: 0;
	padding: 0px;
}
.navigation {
	display: flex;
	align-content: center;
	margin-right: auto;
}
.menu-link {
	color: #212121;
	font-family: "Roboto";
	font-weight: 500;
	font-size: 14px;
	text-decoration: none;

	transition-duration: 250ms;
	transition-property: background-color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover {
	color: #2196f3;
}
.menu-item {
	position: relative;
}
.menu-link::after {
	content: "";
	position: absolute;
	top: 54px;
	display: block;
	width: 100%;
	height: 4px;
	background-color: #2196f3;
	border-radius: 2px;
	opacity: 0;
	transition-duration: 250ms;
}

.menu-link:hover::after {
	opacity: 1;
}

.article {
	display: block;
	margin: 0px;
}
.address-link {
	display: inline-flex;
	align-items: center;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #757575;
	margin-right: 50px;
	text-decoration: none;

	transition-duration: 250ms;
	transition-property: background-color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.envelope {
	display: flex;
	width: 16px;
	height: 12px;
	fill: currentColor;
	margin-right: 10px;
}

.address-link:hover {
	color: #2196f3;
	fill: #2196f3;
}
.phone {
	width: 10px;
	height: 16px;
	fill: currentColor;
	margin-right: 10px;
}

.phone-link:hover {
	color: #2196f3;
	fill: #2196f3;
}
.phone-link {
	display: inline-flex;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #757575;
	text-decoration: none;
	align-items: center;

	transition-duration: 250ms;
	transition-property: background-color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.phone-link:hover {
	color: #2196f3;
}
/* Шапка сайта*/
.header {
	background: #ffffff;
	padding-top: 25px;
	padding-bottom: 25px;
	border: 1px solid #ececec;
	min-width: 1600px;
}
.header .flexbox {
	justify-content: flex-end;
	align-items: center;
}
/*секция 1*/
.section {
	padding-top: 95px;
	padding-bottom: 95px;
}
.bissnes {
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-width: 1600px;
	padding-top: 200px;
	padding-bottom: 200px;
	margin-left: auto;
	margin-right: auto;
}

.services {
	font-family: "Roboto";
	font-size: 44px;
	font-weight: 900;
	line-height: 30px;
	margin: 0px;
	color: #ffffff;
	text-transform: uppercase;
	padding-bottom: 30px;
}
.services p {
	margin: 0px;
	line-height: 60px;
	text-align: center;
}
.btn {
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.06em;
	display: inline-block;
	min-width: 200px;
	min-height: 50px;
	color: #ffffff;
	padding: 0px;
	padding: 10px 32px;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
}

/* кнопка на модалку */

/*СЕКЦИЯ 2*/
.info {
	background: #ffffff;
	min-width: 1600px;
}
.text-align {
	display: flex;
	margin: 0px;
	padding-left: 0px;
	padding-bottom: 95px;
}

.list-main {
	display: block;
}
.list-main h5 {
	font-family: "Roboto";
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #212121;
	margin-top: 0px;
	margin-bottom: 10px;
	display: block;
	content: "";
}
.list-main:not(:last-child) {
	margin-right: 30px;
}

.list-main:nth-child(1)::before {
	content: "";
	display: block;
	width: 270px;
	height: 120px;
	border-radius: 4px;
	background: url(../images/antenna\ 1.png), #f5f4fa;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 30px;
}

.list-main:nth-child(2)::before {
	content: "";
	display: block;
	width: 270px;
	height: 120px;
	border-radius: 4px;
	background: url(../images/clock\ 1.png), #f5f4fa;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 30px;
}
.list-main:nth-child(3)::before {
	content: "";
	display: block;
	width: 270px;
	height: 120px;
	border-radius: 4px;
	background: url(../images/diagram\ 1.png), #f5f4fa;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 30px;
}
.list-main:nth-child(4)::before {
	content: "";
	display: block;
	width: 270px;
	height: 120px;
	border-radius: 4px;
	background: url(../images/astronaut\ 1.png), #f5f4fa;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 30px;
}

.list-main p {
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: #757575;
	margin: 0px;
	display: block;
	width: 270px;
	height: 75px;
}

.dez-main {
	position: absolute;
	width: 370px;
	height: 70px;
	background: rgba(47, 48, 58, 0.8);

	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
}
.dez-main h3 {
	font-size: 14px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
	margin: 0;
}

.blok {
	width: 270px;
	height: 105px;
	margin: 0px;
	padding-right: 30px;
	align-items: center;
}
.blok h5 {
	font-family: "Roboto";
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	color: #212121;
}
.blok p {
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #757575;
}
.heading {
	text-align: center;
	font-family: "Roboto";
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: #212121;
	margin: 0px;
	padding-bottom: 50px;
}
.img-box {
	display: flex;
	align-items: center;
	margin: 0px;
	padding-left: 0px;
}
.img-box li {
	display: block;
}
.img-blok {
	position: relative;
	display: block;
}
.img-blok:not(:last-child) {
	margin-right: 30px;
}
.img-blok img {
	display: block;
}
/* СЕКЦИЯ 3 (Наша Команда) */
.comand {
	background: #f5f4fa;
	min-width: 1600px;
	padding-top: 0px;
}
.our-team {
	font-family: "Roboto";
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	color: #212121;
	margin: 0px;
	padding-top: 95px;
	padding-bottom: 50px;
}
.box-team {
	margin: 0px;
	padding-left: 0px;
}
.list-comand:not(:last-child) {
	padding-right: 30px;
}
.list-comand {
	display: block;
	padding-right: 0px;
}
.bloc-comand {
	display: inline-block;
	width: 270px;
	height: auto;
	background: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.bloc-comand p {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #212121;
	text-align: center;
}
.bloc-comand p:nth-of-type(2) {
	text-align: center;
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #757575;
}
.bloc-comand div {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
.size-img {
	width: 270px;
}
.socials-item {
	display: inline-flex;
	align-items: center;
	list-style: none;
	padding: 0px;
	margin: 0;
}
.icon-socials {
	display: block;
	width: 20px;
	height: 20px;
	fill: currentColor;
}
.icon-items {
	display: block;
	margin-right: 10px;
}
.social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: #ffffff;
	color: #afb1b8;

	transition-duration: 250ms;
	transition-property: background-color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover {
	color: #ffffff;
	background-color: #2196f3;
}

/*постоянные клиенты*/

.partner-box {
	min-width: 1600px;
}
.partner {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;
	margin: 0;
}

.clients {
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.03em;
	margin-top: 0px;
	margin-bottom: 50px;
}

.view {
	display: flex;
	justify-content: center;
	align-items: center;
}
.view {
	display: flex;
}
.view:not(:last-child) {
	margin-right: 30px;
}

.view:nth-of-type(1) .logo-partner {
	width: 44px;
	height: 49px;
}
.view:nth-of-type(2) .logo-partner {
	width: 40px;
	height: 52px;
}
.view:nth-of-type(3) .logo-partner {
	width: 41px;
	height: 42px;
}
.view:nth-of-type(4) .logo-partner {
	width: 79px;
	height: 42px;
}
.view:nth-of-type(5) .logo-partner {
	width: 59px;
	height: 47px;
}
.view:nth-of-type(6) .logo-partner {
	width: 88px;
	height: 45px;
}
.partner-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 90px;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	fill: #afb1b8;

	transition-duration: 250ms;
	transition-property: background-color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.partner-link:hover {
	fill: #2196f3;
	border-color: #2196f3;
}
/*ПОДВАЛ*/

.footer {
	min-width: 1600px;
	background: #2f303a;
	margin: 0px;
	padding-top: 60px;
	padding-bottom: 60px;
}
.footer-blok div {
	margin-right: 70px;
}
.footer-blok {
	display: inline-flex;
}
.logo-footer {
	margin: 0px;
	padding-bottom: 20px;
}
.address {
	display: inline-block;
	margin: 0px;
}
.address address {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 34px;
	letter-spacing: 0.03em;
	color: #ffffff;
	margin: 0px;
}
.address a {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 34px;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	margin: 0px;
	text-decoration: none;
}
.address p {
	margin: 0px;
}
.join {
	font-family: "Roboto";
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 20px;
}
.social-link-join {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.1);
	color: #afb1b8;
}
.social-link-join:hover {
	color: #ffffff;
	background-color: #2196f3;
}
/* ПОРТФОЛИО */

.botton {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
	background: #f5f4fa;
	border-radius: 4px;
	width: 128px;
	height: 38px;
	padding: 6px 12px;
	text-decoration: none;

	transition-duration: 250ms;
	transition-property: background-color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.botton:hover {
	background: #2196f3;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	color: #ffffff;
}
.nav-portfolio {
	margin: 0px;
	padding-left: 0px;
	justify-content: center;
	list-style: none;
	padding-bottom: 50px;
}
.portfolio-link:not(:last-child) {
	padding-right: 10px;
}
.flexbox-port {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0px 0px;
	padding: 0 0;
}
.list-port {
	width: 370px;
	margin-right: 30px;
}
.list-port:nth-child(3n + 3) {
	margin-right: 0;
}
.list-port:nth-child(-n + 6) {
	margin-bottom: 30px;
}

.list-port:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.container-box {
	display: block;
	width: 370px;
	height: auto;
	background: #ffffff;
	border: 1px solid #eeeeee;
	margin-right: 0;
}
.container-box p:not(:last-child) {
	font-family: "Roboto";
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 36px;
	letter-spacing: 0.06em;
	color: #212121;
	margin: 0px 0px;
}
.container-box p {
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.03em;
	color: #757575;
	display: block;
	margin: 0px 0px;
}
/* .container-box div {
	padding: 20px 24px;
} */
.img-size {
	display: flex;
	width: 369px;
}
.hover-box {
	position: relative;
	overflow: hidden;
}
.hover-box::before {
	content: "Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов.";
	position: absolute;
	width: 100%;
	height: 100%;

	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.02em;
	color: #ffffff;

	background: rgba(33, 150, 243, 0.9);

	transform: translateY(100%);
	transition-property: transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	padding: 63px 24px;
}

.hover-box:hover::before {
	transform: translateY(-0%);
}
